# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create markdown cell
* Create Unordered and ordered list
* Create Arithmetic expressions examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. "Pandas"
2. "matplotlib"
3. "Keras"

|Data Science Tools|
|------------------|
|Google Colab|
|Jupyter Notebooks|
| Vs Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
str(200/60) + " hours"
#convert 200 minutes to hours by diving by 60

'3.3333333333333335hours'

## Author:
"Lakshmi Holla and Niveditha Pandith"